# Virtualenv
venv/
.env

# Byte-compiled / cache
*.pyc
__pycache__/

# SQLite database
db.sqlite3

# Static files
staticfiles/
static/

# Logs
*.log

# Elastic Beanstalk files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml