option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myapp.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myapp.settings
    PYTHONPATH: /var/app/current
    SECRET_KEY: django-insecure-t&$$p92co^1l78l)(5g^$eyn5oq(p=@4juvlrynj4##zv5)0^a
    DEBUG: 'True'

container_commands:
  01_setup_database:
    command: "mkdir -p /var/app && chown -R webapp:webapp /var/app && chmod -R 755 /var/app && touch /var/app/db.sqlite3 && chown webapp:webapp /var/app/db.sqlite3 && chmod 664 /var/app/db.sqlite3"
    leader_only: true

  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

  04_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo 'from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username=\"admin\").exists() or User.objects.create_superuser(\"admin\", \"admin@example.com\", \"admin123\")' | python manage.py shell"
    leader_only: true

