container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  03_createsuperuser:
    command: "echo \"from django.contrib.auth import get_user_model; \
      User = get_user_model(); \
      User.objects.filter(username='sa9051').exists() or \
      User.objects.create_superuser('sa9051', 'sa9051@example.com', 'NewStrongPassword123')\" \
      | python manage.py shell"
    leader_only: true
